:root {
  --accent-color: #4d5ae5;
  --primary-text-color: #434455;
  --nav-color: #2e2f42;
  --title-color: #2e2f42;
  --nav-accent-color: #404bbf;
  --text-thema-dark-color: #e7e9fc;
  --background-section-color: #f4f4fd;
  --just-white: #ffffff;
  --transition-duration-funktion: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--just-white);
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
  transition: color var(--transition-duration-funktion);
}
.list {
  list-style-type: none;
}
/* -------компоненти-------- */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -------/компоненти-------- */
/* -------шапка------- */
.page-header {
  border-bottom: 1px solid var(--text-thema-dark-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.heder-content {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  margin-left: 76px;
}

.menu-item {
}

.menu-item-link {
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-after {
  position: relative;
}
.menu-after::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--nav-accent-color);
  border-radius: 2px;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
}
.logo-thema-light {
  color: var(--nav-color);
}
.menu-item-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-color);
}

.link:hover,
.link:focus {
  color: var(--nav-accent-color);
}

.contacts-box {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
}
.contacts-list-item:nth-child(1) {
  margin-right: 40px;
}
.contacts-item {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -------/шапка------- */
/*-------- банер -------*/

.hero-section {
  text-align: center;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.main-title {
  margin-bottom: 48px;
  width: 496px;

  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--just-white);
}

.modal-btn {
  display: inline-block;
  padding: 16px 32px 16px 32px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--just-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color var(--transition-duration-funktion);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--nav-accent-color);
}
/*-------- /банер -------*/

/* ----переваги компанії---- */

.privilage-section {
  padding: 120px 0;
}

.privilage-container {
}

.privilage-list {
  display: flex;
  justify-content: space-between;
}

.privilage-list-item {
  max-width: 264px;
}
.privilage-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background: var(--background-section-color);
  border-radius: 4%;
}

/* ----/переваги компанії---- */

/* =======що робимо======== */
.about-section {
  padding-bottom: 117px;
}
.about-title {
  margin-bottom: 72px;
}
.about-list {
  display: flex;
  justify-content: space-between;
}

/* =============команда =========*/
.team-section {
  background-color: var(--background-section-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-card {
  background-color: var(--background-section-color);
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list-item {
  text-align: center;
  /* width: 264px;  */
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--just-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* .team-list-item:nth-child(4n) {
  margin-right: 0;
} */
.team-item-text {
  padding: 32px 0;
}
.team-text {
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-color: transparent;
  background-color: var(--accent-color);
  transition: background-color var(--transition-duration-funktion);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--nav-accent-color);
}

.social-list-icon {
  fill: var(--background-section-color);
}

/* ============CUSTOMER================= */
.customers-section {
  padding: 120px 0px;
}
.customers-title {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  transition: border var(--transition-duration-funktion);
}
.customers-icon {
  fill: #8e8f99;
  transition: fill var(--transition-duration-funktion);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--nav-accent-color);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--nav-accent-color);
}
/* ==========футер======== */
.footer {
  padding: 100px 0;

  background-color: #2e2f42;
}
.footer-container {
  display: flex;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  color: var(--accent-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
}
.footer-appeal {
  margin-right: 120px;
}
.logo-thema-dark {
  color: var(--background-section-color);
}

.footer-text {
  width: 264px;
  color: var(--text-thema-dark-color);
}

.footer-title {
  font-weight: 500px;
  color: var(--text-thema-dark-color);
  margin-bottom: 16px;
}
.footer-social {
  width: 208px;
  margin-right: 80px;
}
.footer-social-list {
  display: flex;
  align-content: center;
  gap: 24px;
}

.footer-link {
  transition: background-color var(--transition-duration-funktion);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-form {
  width: 453px;
}
.footer-subscribe-wrap {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;

  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  font-size: 16px;
  color: #000;
  padding-left: 16px;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: 165px;
  height: 40px;
  padding: 8px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  background-color: var(--accent-color);
  border-color: transparent;
  transition: background-color var(--transition-duration-funktion);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--nav-accent-color);
}

/* =========2 сторінка  ========*/
.portfolio-section {
  padding: 96px 0px 120px 0px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

.filter-btn {
  padding: 12px 24px;

  font-family: "Roboto", sans-serif;
  color: var(--accent-color);
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid var(--text-thema-dark-color);
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--transition-duration-funktion),
    background-color var(--transition-duration-funktion),
    box-shadow var(--transition-duration-funktion);
}
.filter-btn:focus,
.filter-btn:hover {
  color: var(--just-white);
  background-color: var(--nav-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: 360px;
  /* width: calc((100%-48px) / 3); */
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--transition-duration-funktion);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item-text {
  padding: 32px 16px;
  border: 1px solid var(--text-thema-dark-color);
  border-top: none;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-duration-funktion);
  padding: 40px 32px 164px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--background-section-color);
  background-color: #4d5ae5;
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translate(0, 0);
}

/* =========MODAL WINDOW========== */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opasity var(--transition-duration-funktion),
    visibility var(--transition-duration-funktion), transform 500ms linear 100ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  scale: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  
  background-color: #fcfcfc;
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1) 50ms,
    transform 600ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 0.1em solid #d5d6e3;
  cursor: pointer;

  transition: background-color var(--transition-duration-funktion) border
    var(--transition-duration-funktion);
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  padding-top: 0;
  padding-bottom: 0;
  transition: fill var(--transition-duration-funktion);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--nav-accent-color);
  border: 0.1em solid transparent;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ffffff;
}

/* =============MODAL FORM============= */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-call {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.modal-field {
  /* margin-bottom: 8px; */
}
.modal-field-desk {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  margin-bottom: 4px;
}

.modal-field-input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #000;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  margin-bottom: 8px;
}

.modal-field-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-field-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  margin-bottom:16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #000;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-field-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-field-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill var(--transition-duration-funktion);
}

.modal-field-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-check-desk {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-check-desk::before {
  content: "";
  display: block;
  
  margin-right: 8px;
  
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: #ffffff;
  cursor: pointer;
 transition: border-color var(--transition-duration-funktion);
}

.modal-check:checked + .modal-check-desk::before {
  background-image: url(../images/check.svg);
  background-color: var(--accent-color);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 10px 8px;
  background-position: center;
  border-color: var(--accent-color);
}

.modal-check:focus + .modal-check-desk::before {
  border-color: var(--accent-color);
}

.privacy-policy-link {
  color: var(--accent-color);

  outline: transparent;
}
.privacy-policy-link:hover,
.privacy-policy-link:focus {
  text-decoration: underline;
}


.modal-form-btn {
  align-self: center;
  padding: 16px 32px 16px 32px;
  min-width: 169px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--just-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color var(--transition-duration-funktion);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--nav-accent-color);
  outline: transparent;
}
